h1{
    color: #487459;
    font-size: 400%;
    border: 3px solid #487459;
    border-radius: 8px;
    text-align: center;
    background-color: #E3F6EB;
}

body{
    background-color: #80BE98;
    color: #;
    font-size: 130%;
    font-family: fantasy;
    text-align: center;
}

input{
    width: 50%;
    font-size: 130%;
    background-color: #E3F6EB;
    margin-top: 2%;
    margin-left: 1%;
    text-align: center;
    border-radius: 8px;
    font-family: fantasy; 
}

input[type=button]{
    color: #487459;
    font-size: 200%;
    border: 3px solid #487459;
    border-radius: 8px;
    text-align: center;
    background-color: #E3F6EB;
}

select{
    width: 50%;
    font-size: 120%;
    background-color: #E3F6EB;
    margin-top: 2%;
    margin-left: 1%;
    text-align: center;
    border-radius: 8px;
    font-family: fantasy; 
}

input[type=radio]{
    background-color: #E3F6EB;
    color: #487459;
    text-align: left;
    width: 20%;
    cursor: pointer;
    height: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

